*~
/build/*
/work # ignore all directories called  anywhere below the current level
*.pyc
*.idea
*.bedGraph
*.bed
/doc/_build/*
/doc/_static/*
/doc/_templates/*
/pergola_tutorial_files/*.bed
/pergola_tutorial_files/*.bedGraph
/pergola_tutorial_files/*.fa
/examples/celegans_db_inter_motion/work
/examples/celegans_db_inter_motion/plots_time_bw_motion
/examples/celegans_db_inter_motion/csv_motion
/examples/celegans_db_inter_motion/bed_files_bw_motion
/examples/celegans_db_inter_motion/results*
/examples/celegans_db_inter_motion/plots*
/examples/celegans_db_inter_motion/.nextflow.log*
/examples/celegans_db_speed_motion/work
/examples/celegans_db_speed_motion/results*
/examples/celegans_db_speed_motion/plots*
/examples/celegans_db_speed_motion/.nextflow.log*
/examples/N2_vs_KO_trp_channels/work
/examples/N2_vs_KO_trp_channels/.nextflow.log*
/examples/N2_vs_KO_trp_channels/results*
/examples/N2_vs_KO_trp_channels/work
/examples/N2_vs_KO_trp_channels/plots*
/examples/N2_vs_KO_trp_channels/.nextflow.log*
/examples/N2_hourly_measures/work
/examples/N2_hourly_measures/results*
/examples/N2_hourly_measures/plots*
/examples/N2_hourly_mean_measures/work
/examples/N2_hourly_mean_measures/results*
/examples/N2_hourly_mean_measures/plots*
/examples/N2_hourly_mean_measures/.nextflow.log*
/examples/N2_vs_case_strain_distros/.nextflow.log*
/examples/N2_vs_case_strain_distros/plots*
/examples/N2_vs_case_strain_distros/results*
/examples/N2_vs_case_strain_distros/work/*
.pydevproject
.project
# Compiled python modules.
*.pyc

# Setuptools distribution folder.
/dist/

# Python egg metadata, regenerated from source files by setuptools.
/*.egg-info

