manifest {
    mainScript = 'worm_speed_by_motion.nf'
    description = 'Using data from http://wormbehavior.mrc-lmb.cam.ac.uk/ calculates speed during different motion periods'
}

profiles {
  cluster {
    process {
    	executor = 'sge'
		queue = 'cn-el7'
		scratch = true
		// This line send mail when something is not working
      	clusterOptions = '-m ae -M jespinosa@ant-login5.linux.crg.es'
    }
      
    docker.enabled = true   
  }
  
  standard {
  	process {
    	executor = 'local'
    }
  }
}

trace {
  enabled = false
  trace = false	
  file = 'pipeline_trace.csv'
  fields = 'task_id,name,status,exit,realtime,%cpu,rss'
}

env {
    PATH="/nfs/software/cn/el6.5/python/envs/.virtualenvs/cpython279/bin/pergola_rules.py:$PATH"
}
