<div id="header_wrap" class="outer">
        <header class="inner">
          <a id="forkme_banner" href="https://github.com/JoseEspinosa/pergola">View on GitHub</a>
		 <!--
          <h1 id="project_title">{{ page.title }}</h1>
          -->
          <h1 id="project_title">pergola</h1>
          <h2 id="project_tagline">Python bEhavioRal GenOmebrowser LibrAry</h2>

          <section id="downloads">
              <a class="zip_download_link" href="https://github.com/cbcrg/pergola/zipball/master">Download this project as a .zip file</a>
              <a class="tar_download_link" href="https://github.com/cbcrg/pergola/tarball/master">Download this project as a tar.gz file</a>
            </section>
            {% include nav.html %}
        </header>
    </div>
