profiles {
  cluster {
    process {
      executor = 'sge'
	  queue = 'cn-el7'
	  // This line send mail when something is not working
      clusterOptions = '-m ae -M jespinosa@ant-login5.linux.crg.es'
    }   
  }
}

trace {
  enabled = false
  trace = false	
    file = 'pipeline_trace.csv'
    fields = 'task_id,name,status,exit,realtime,%cpu,rss'
}
env {
    PATH="/nfs/software/cn/el6.5/python/envs/.virtualenvs/cpython279/bin/pergola_rules.py:$PATH"
}
//Old version
//executor {
//    name = 'sge'
//    queue = 'cn-el6'
//}
